{% load staticfiles %}
{% load notifications_tags %}
<html>
	<head>
		<title>CP Blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Proza+Libre" rel="stylesheet">
		<link href="//fonts.googleapis.com/css?Tangerine:bold,bolditalic|Inconsolata:italic|Droid+Sans" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link rel="stylesheet" href="{% static 'css/zenburn.css' %}">
	</head>
	<body>
		<div class="page-header">
			<script src="{% static 'notifications/notify.js' %}" type="text/javascript"></script>
			{% register_notify_callbacks callbacks='fill_notification_list,fill_notification_badge' %}
			{% if user.is_authenticated %}
				<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
				<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
				<p class="top-menu">Hello <a href="{% url 'my_profile' %}" style="background-color: inherit">{{ user.username }}</a>
					<small>(<a href="{% url 'logout' %}">Log out</a>)</small>
				</p>
				<a href="{% url 'my_unread_notifications' %}" class="top-menu" style="color: green">{% notifications_unread %}</a>
			{% else %}
				<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-log-in"></span></a>
			{% endif %}
			<h1><a href="/">Clever Programmer Blog </a></h1>
		</div>
		<div class="content container">
			<div class="row">
				<div class="col-md-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>
