{% extends 'blog/base.html' %}
{% load markdownify %}
{% load avatar_tags %}

{% block content %}
	<div class="post">
		{% if post.published_date %}
			<div class="date">
				{{ post.published_date }}
			</div>
		{% else %}
			<a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-default">Publish</a>
		{% endif %}
		{% if user.is_authenticated %}
			<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
		{% endif %}
		<h1>{{ post.title }}</h1>
		<p>{{ post.text| markdown | safe | linebreaksbr }}</p>
	</div>
	<hr>
	<a href="{% url 'add_comment_to_post' pk=post.pk %}" class="btn btn-default">Add comment</a>
	{% for comment in post.comments.all %}
		{% if user.is_authenticated or comment.approved_comment %}
			<div class="comment">
				<div class="date">
					{{ comment.created_date }}
				</div>
				{% if not comment.approved_comment and user.is_superuser %}
					<a href="{% url 'comment_approve' pk=comment.pk %}" class="btn btn-default">
						<span class="glyphicon glyphicon-ok"></span>
					</a>
					<a href="{% url 'comment_remove' pk=comment.pk %}" class="btn btn-default">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				{% endif %}
				{% avatar user 50 class="img-circle img-responsive" id="user_avatar" %}<strong>{{ comment.author }}</strong>
				<p>{{ comment.text| markdown | safe | linebreaks }}</p>
			</div>
		{% endif %}
	{% empty %}
		<p>No comments yet...</p>
	{% endfor %}
{% endblock %}
