{% extends 'blog/base.html' %}
{% load notifications_tags %}
{% load markdownify %}
{% load humanize %}

{% block content %}
	{% for my_unread in my_unreads %}
		<div class="comment">
			<div>
				<p>
					<strong>{{ my_unread.actor.author }}</strong> says: {{ my_unread.actor.text | markdown | safe }}
				</p>
				<p style="background-color: floralwhite;">on
					<a href="{% url 'post_detail' pk=my_unread.actor.post.pk %}">{{ my_unread.actor.post.title }}</a>
					about <em>{{ my_unread.timestamp|naturaltime }}</em></p>
			</div>
		</div>
		<hr>
	{% endfor %}
{% endblock %}
