{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
	<div class="panel panel-default" style="width: 400px; margin: 0 auto;">
		<h3 style="text-align: center; font-family: sans-serif">Become a Clever Programmer Today.</h3>
		<div class="panel-body">
			{% crispy form %}
		</div>
	</div>
	<form action="{% url 'cp_payment' %}" method="POST">
		{% csrf_token %}
		<script
				src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				data-key="{{ stripe_test_api_key }}"
				data-amount="99"
				data-name="{{ user.username }}"
				data-description="Widget"
				data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
				data-locale="auto">
		</script>
	</form>
{% endblock %}
